
  /* custom-popup-styles.css */

.primary {
  background-color: seashell;
  outline-color: seashell;
  border-color: #FF5430;
}

.secondary {
  background-color: #FF5430;
  outline-color: #FF5430;
}

.tertiary {
  background-color: #F2B8C6;
  outline-color: #F2B8C6;
}

.root-style {
  height: '100%';
  min-height: '100%';
  background-color: seashell;
  outline-color: seashell;
}

.no-margin {
  margin: 0%;
}

.no-padding {
  padding: 0%;
}

.page-header {
  color:#FF5430;
  pointer-events: none;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  vertical-align: middle;
}

.popup-linebr {
  display: block;
  margin: 10px;
}

input.popup-linebr {
  display: block;
  width: 100%;
  min-width: 100%;
}

textarea.popup-linbr {
  display: block;
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  flex: 1;
}

.description {
  word-wrap: break-word;
}

.button-work-around {
  margin-right: 16px;
}

.btn-primary:hover {
  background-color: #ff9696;
  border-color: #ff9696;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .button-work-around {
    margin-right: 64px;
  }
}