
  /* custom-popup-styles.css */

.primary {
  background-color: seashell;
  outline-color: seashell;
  border-color: #FF5430;
}

.secondary {
  background-color: #FF5430;
  outline-color: #FF5430;
}

.tertiary {
  background-color: #F2B8C6;
  outline-color: #F2B8C6;
}

.root-style {
  height: '100%';
  min-height: '100%';
  background-color: seashell;
  outline-color: seashell;
}

.no-margin {
  margin: 0%;
}

.no-padding {
  padding: 0%;
}

.page-header {
  color:#FF5430;

  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  vertical-align: middle;
}

.description {
  word-wrap: break-word;
}

.button-work-around {
  margin-right: 16px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .button-work-around {
    margin-right: 64px;
  }
}